extends layout

block content
  h1= title
  form(action="/login" method="post")
    div
      label(for="username") Login:
      input(type="text" name="username" id="username" required)
    div
      label(for="password") Hasło:
      input(type="password" name="password" id="password" required)
    div
      button(type="submit") Zaloguj się
